.loading {
    max-width: 25%;
    height: 2px;
    margin: 2rem auto;
    background-color: #000;
    overflow: hidden;
}

.loading::after {
    content: "";
    width: 75%;
    height: 2px;
    background-color: #FFF;
    display: block;
    animation: loading 0.5s linear forwards infinite;
}

@keyframes loading {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(125%);
    }
}