body {
    margin: 2rem;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.anime {
    opacity: 0;
    transform: translateX(-10px);
    animation: anime 0.3s forwards;
}

@keyframes anime {
    to {
        opacity: initial;
        transform: initial;
    }
}