.button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    margin: 1rem 0 0 auto;
    font-family: Roboto, sans-serif;
    color: #FFF;
    background-color: #000;
    display: block;
    cursor: pointer;
    outline: none;
}